
<h1 class="view_header">Craggie Mountain</h1>
<a href=<%- link0 %>><p><%- link0 %></p></a>
<a href=<%- link1 %>><p><%- link1 %></p></a>
<a href=<%- link2 %>><p><%- link2 %></p></a>
<a href=<%- link3 %>><p><%- link3 %></p></a>
<a href=<%- link4 %>><p><%- link4 %></p></a>

